.card {
  border-radius: 2rem !important;
}
.container {
  max-width: 95vw;
}

.card-body {
  font-size: 1.2rem;
  line-height: 7dvh;
}
.card:hover {
  transition: all ease-in-out 200ms;
  transform: translateY(-2rem);
  button {
    background-color: rgb(13, 110, 253) !important;
  }
}
button {
  padding: 1.1rem !important;
  border-radius: 3rem !important;
  color: #fff !important;
  background-color: rgb(113, 180, 252) !important;
}
button:active {
  transform: scale(0.9);
}
